---
# install rundeck
- include: install_debian.yml
  when: ansible_os_family == 'Debian'

- include: install_redhat.yml
  when: ansible_os_family == 'RedHat'

- name: Rundeck | Ensure tmp directory has correct permissions
  file:
    path: /tmp/rundeck
    state: directory
    owner: rundeck
    mode: 0755
  tags:
    - rundeck
    - users

- name: Rundeck | Ensure server url is configured
  lineinfile: >
    dest=/etc/rundeck/rundeck-config.properties
    regexp="^grails.serverURL="
    line="grails.serverURL=http://{{ rundeck_domain }}"
  notify:
    - restart rundeck
  tags:
    - rundeck
    - configuration

# vendor database setup
- include: postgresql.yml
  when: rundeck_database_type == 'postgresql'

- include: mysql.yml
  when: rundeck_database_type == 'mysql'

# user management
- include: users.yml
# ldap users
- include: ldap.yml
  when: rundeck_ldap_enabled == True

# extras
- name: download rundeck plugins
  get_url: >
    dest=/var/lib/rundeck/libext/{{ item.split('/')|last }}
    url={{ item }}
  with_items: '{{ rundeck_plugins }}'
  notify:
    - restart rundeck
  tags:
    - rundeck
    - plugins

# ssh key generation
- include: ssh.yml
  when: rundeck_generate_ssh == True

- include: proxy.yml
  when: rundeck_nginx_proxy == True
